<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",root_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="center jumbotron">
   <h2>Minkbot, is a simple bot created as an example application to use Face authentication login , a sinatra service using sky biometry API.The Face authentication currently works for Mac OS only.</h2>
</div>


